{% extends 'InsiderAppBundle::layout.html.twig' %}

{% block title %}League table | Insider{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 105px;">
        <div class="row">
            <div id="league-table-wrapper" class="league-table-wrapper">
                {{ include('InsiderAppBundle:Default:week_table.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/insiderapp/js/insider.js') }}"></script>
    <script>
        $(function() {
            var LeagueTable = new Insider.leagueTable('league-table');

            LeagueTable.init();
        });
    </script>
{% endblock %}
