{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/insiderapp/css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div id="wrap">
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('insider_app_homepage') }}" class="navbar-link">
                        <h1><i class="fa fa-soccer-ball-o"></i> Insider</h1>
                    </a>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/insiderapp/components/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/insiderapp/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}